<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_tags %}
{% load censor %}
<!-- Название у нас будет News -->
{% block title %}
News
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
   <h1>Все новости</h1>
   <!-- Вот так выглядело использование переменной и фильтра -->
   <!-- <h3>{{ time_now|date:'M d Y' }}</h3> -->
   <!-- А вот так мы используем наш тег-->
   <h3>{% current_time '%b %d %Y' %}</h3>
   <!--h3> {{ next_sale|default_if_none:"Чуть позже сообщим о распродаже!" }} </h3-->
    {# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
<!--   <form action="" method="get">-->
<!--       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}-->
<!--       {{ filterset.form.as_p }}-->
<!--       {# Добавим кнопку отправки данных формы #}-->
<!--       <input type="submit" value="Найти" />-->
<!--   </form>-->
   <hr>
    {# Теперь будем проверять не request.user.is_authenticated, а конкретные права #}
    {% if perms.news.add_post %}
    <a href="{% url 'news_create' %}">Добавить новость</a>
    <a href="{% url 'article_create' %}">Добавить статью</a>
    {% endif %}

    {% if news %}
       <table>
           <tr>
               <td><center>ID</center></td>
               <td><center>Заголовок</center></td>
               <td><center>Дата публикации</center></td>
               <td><center>Текст</center></td>
               {# Условие получается составным. #}
                {% if perms.news.change_post or perms.news.delete_post %}
                <td>Действия</td>
                {% endif %}
           </tr>

           {% for post in news %}
           <tr>
               <td><center>{{ post.id }}</center></td>
               <td><center>{{ post.title|truncatechars:20|censor }}</center></td>
               <td><center>{{ post.created_date }}</center></td>
               <td><center>{{ post.text|truncatechars:20|censor }}</center></td>

               <td>
                {# А здесь доступ для каждой ссылки теперь будем проверять отдельно #}
                    {% if perms.news.change_post %}
                    <a href="{% url 'news_edit' pk=post.id %}">Изменить</a>
                    {% endif %}
                    {% if perms.news.delete_post %}
                    <a href="{% url 'news_delete' post.id %}">Удалить</a>
                    {% endif %}

               </td>
           </tr>
           {% endfor %}

       </table>


    {% else %}
       <h2>Новостей нет!</h2>
    {% endif %}
    {# Добавляем пагинацию на страницу #}

    {# Информация о предыдущих страницах #}
    {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
    {% endif %}

    {# Информация о текущей странице #}
    {{ page_obj.number }}

    {# Информация о следующих страницах #}
    {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
    {% endif %}
{% endblock content %}